body {
    font-family: 'Arial', sans-serif;
    background: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .container {
    max-width: 900px;
    margin-top: 20px;
  }
  h1 {
    text-align: center;
    color: #009148;
    margin-bottom: 30px;
  }
  .info-container {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }
  .device-info {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
  }
  .device-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  .device-info h3 {
    color: #38a169; /* Soft green color */
    margin-bottom: 15px;
  }
  .device-info p {
    margin: 10px 0;
    font-size: 14px;
  }
  .device-type {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .icon {
    margin-right: 10px;
    font-size: 1.2em;
  }
  
  /* Theme Changer Icon */
  .theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #38a169; /* Soft green background */
    color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 100; /* Ensure it stays on top */
  }
  .theme-toggle:hover {
    background-color: #2f8e53;
  }
  
  /* Dark theme styles */
  body.dark {
    background-color: #2d3748;
    color: #e2e8f0;
  }
  body.dark .info-container {
    background: rgba(45, 55, 72, 0.85);
  }
  body.dark .device-info {
    background: rgba(45, 55, 72, 0.2);
  }
  body.dark .device-info h3 {
    color: #48bb78; /* Light green */
  }
  
  /* Install button styles */
 /* Custom Button Style */
 #installBtn {
    display: none;
    padding: 12px 25px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #installBtn:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }

  #installBtn:active {
    transform: scale(1);
  }

  /* Button container style */
  .install-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

   /* Footer styling */
   footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }

  footer a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
  }

  footer a:hover {
    text-decoration: underline;
  }
  